.UserDashboard .active{
    background-color: #f5f5f5;
}
.UserDashboard .active .icondashboard{
    color: #1e88e5;
}
.UserDashboard .active .textdashboard
{font-weight: 600;}
/* کلاس سفارشی برای مخفی کردن اسکرول */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;      /* Firefox */
}

