.Meno{
    background-color: #ffff ;
}
.Meno2{
    padding: .5rem;
    background-color: #ffff;
}
.Meno2 ul{
    padding-top: .2rem;
}
.Meno2 .grouping{
    background-color: #e5f1ff;
}
.dark .Meno2 .grouping{
    background-color:#a2ccff1c;
}

.pEmail::-webkit-scrollbar {
  height: 2Px; /* عرض اسکرولبار */
}
