@import "tailwindcss";

/* --- جلوگیری از هر نوع دارک مود تحمیلی از مرورگر و افزونه‌ها --- */
html {
  color-scheme: light !important;
  forced-color-adjust: none !important;
}

/* وقتی دارک مود اختصاصی سایت فعال میشه */
html.dark {
  color-scheme: dark !important;
  forced-color-adjust: none !important;
}

/* استایل های عمومی */
* {
  box-sizing: border-box;
}

html {
  transition: background-color 0.3s, color 0.3s;
}

html,
body {
  overflow-x: hidden;
}

/* فونت‌ها */
@font-face {
  font-family: "Vazir";
  src: url("/src/assets/fonts/vazir/static/Vazirmatn-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* بدنه و متن اصلی */
body {
  font-size: 100%;
  font-family: "Poppins", "Inter", sans-serif;
  background-color: white; /* حالت روشن */
  color: #042a50; /* متن روشن */
  transition: background-color 0.3s, color 0.3s;
}

/* حالت dark */
html.dark body {
  background-color: #051121; /* بک‌گراند تاریک */
  color: #e1e9f3; /* متن روشن در حالت تاریک */
}

/* تمرکز روی input */
input:focus {
  outline: unset;
}

/* pointer */
a,
button {
  cursor: pointer;
}

/* سایه */
.box-shadow {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.32);
}

/* اسکرولبار */
*::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #02384f62;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
  background-color: #2591ef;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #1e88e5;
}

/* حالت dark برای اسکرول */
html.dark *::-webkit-scrollbar-thumb {
  background-color: #42a5f5; /* رنگ روشن‌تر برای dark mode */
}
html.dark *::-webkit-scrollbar-thumb:hover {
  background-color: #1e88e5;
}
/* حالت پیش‌فرض (لایت مود) */
:root .logo {
    filter: none; /* تصویر اصلی بدون تغییر */
    -webkit-filter: none;
  }


/* حالت دارک مود */
html.dark .logo {
    filter: invert(1) brightness(2);
    -webkit-filter: invert(1) brightness(2);
  }


/* متغیرها */
:root {
  /* all */
  --import: #c20101;
  --text-input: #000000;
  --text-gary: #4a5565;
  --text-gray2: #1e2939;
  --footer: #e0e6f1;
  --text-footer: #000000;

  /* home */
  --primary: #1e88e5;
  --text: #042a50;
  --textsm: #2b7fff;
  --bg: #fafafa;
  --cart: #f5f5f5;
  --cartsm: #bfdbfe;
  --btn: #1e88e5;
  --f5: #f5f5f5;
  --product: #ffffff;
  --card-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  --card-hover-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  /* category */
  --cartcategory: #d8dce4;
  --textcategory: #1e2939;
  --cartcategory-hover: #b9bdc3;
  /* navbar */
  --navbar-bg: #fffffff7;
  --navbar-bb: #f5f5f5;
  --navbar-searchbar-bg: #e5f3ff;
  --navbar-porof: #dbeafe;
  --navbar-porof-hover: #bedbff;
  --navbar-md-category: #f5f5f5;
  --navbar-md-category-b: #d8d4d4c9;
  /* menu */
  --menu1: #8ec5ff;
  --menu2: #ffff;
  --icon-menu: #042a50;
  --category-menu: #e5f1ff;
  --category-menu-border: #ffff;
  --close-menu: #d9dadb;
  /* userdashboard */
  --dashboard-b: #dfdfdf;
  --dashboard-active-link: #f5f5f5;
  --sup: #f5f5f5;
  --sup-sm: #ffffff;
  --sup-b: #d1d5dc;
  --adress-sm: #f5f5f5;
  /* productid */
  --text-inactive: #364153;
  /* products */
  --filter-products: #cbe4fa;
  /* login */
  --bg-login: #d5d5d5;
}

html.dark {
  /* all */
  --import: #97dbff;
  --text-input: #c1dce9;
  --text-gary: #a7b7be;
  --text-gray2: #b3c2ca;
  --footer: #0b1a2b;
  --text-footer: #ffffff;

  /* home */
  --text: #e0e0e0;
  --textsm: #4270c1;
  --bg: #051121;
  --cart: #0a1b2f;
  --cartsm: #0e2648;
  --btn: #4270c1;
  --f5: #9ea9bc;
  --product: #0a1b2f;
  --card-shadow: 0 4px 16px rgba(255, 255, 255, 0.05);
  --card-hover-shadow: 0 8px 24px rgba(255, 255, 255, 0.08);
  /* category */
  --cartcategory: #06234b;
  --textcategory: #e1e9f3;
  --cartcategory-hover: #1a3e70;

  /* navbar */
  --navbar-bg: #122d55;
  --navbar-bb: #192f70bd;
  --navbar-searchbar-bg: #122d55;
  --navbar-porof: #021b41;
  --navbar-porof-hover: #03275e;
  --navbar-md-category: #0a1b2f;
  --navbar-md-category-b: #0a1b2f;
  /* menu */
  --menu1: #0a1b2f;
  --menu2: #0e2648;
  --icon-menu: #7498bd;
  --category-menu: #0a1b2f;
  --category-menu-border: #0e2648;
  --close-menu: #214568;
  /* userdashboard */
  --dashboard-b: #6f93b1;
  --dashboard-active-link: #071d3e;
  --sup: #051121;
  --sup-sm: #0a1b2f;
  --sup-b: #051121;
  --adress-sm: #0a1b2f;
  /* productid */
  --text-inactive: #91a4c4;
  /* products */
  --filter-products: #1e2939;
  /* login */
  --bg-login: #59697c;
}
/* bg-[var( --cartcategory-hover)] */
