@import "tailwindcss";
/* استایل های عمومی */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
body {
  font-size: 100%;
  font-family: "Poppins", "Inter", sans-serif;
  background-color: white;
  color: #000000;
}
input:focus {
  outline: unset;
}

a,
button {
  cursor: pointer;
}
.box-shadow{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3215686275);
}
