@import "tailwindcss";
/* استایل های عمومی */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
@font-face {
  font-family: 'Vazir';
  src: url('/src/assets/fonts/vazir/static/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 100%;
  /* font-family: "Poppins", "Inter", sans-serif; */
  background-color: white;
  color: #000000;
}
input:focus {
  outline: unset;
}

a,
button {
  cursor: pointer;
}
.box-shadow{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3215686275);
}

/* اسکرولبار سفارشی برای * */
*::-webkit-scrollbar {
  width: 3Px; /* عرض اسکرولبار */
}
body::-webkit-scrollbar {
  width:8Px; /* عرض اسکرولبار */
}
*::-webkit-scrollbar-track {
  background: #02384f62;
  /*رنگپس‌زمینهمسیراسکرول*/
  border-radius:4px;
}

*::-webkit-scrollbar-thumb {
  background-color:#2591ef ; /* رنگ دکمه اسکرول */
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color:  #1e88e5;  /* نگام هاور */
}
